@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Neucha&display=swap');

.CartElement {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.CartElementName {
}

.CartElementImage img{
    width: 100px;
    border-radius: 20px;
}