.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5FD2B5;
}
.MailObj {
  background-color: #FFB640;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

